<title>8 Harvest Wind Stats</title>

Current wind speed: {{ current|round(1) }}mph
<br />
Avg wind speed (1h): {{ hour_avg|round(1) }}mph
<br />
Max gust (1h): {{ hour_max|round(1) }}mph
<br />
Avg wind speed (24h): {{ day_avg|round(1) }}mph
<br />
Max gust (24h): {{ day_max|round(1) }}mph
<br />
<br />

<img src="/wind_avg_1h.png" />
<br />
<img src="/wind_avg_24h.png" />
<br />
<img src="/wind_max_1h.png" />
<br />
<img src="/wind_max_24h.png" />
<br />
<img src="/wind_grouped_1h.png" />
<img src="/wind_grouped_24h.png" />
<br />