<title>8 Harvest Wind Stats</title>

Avg wind speed (1h): {{ hour_avg }}
<br />
Max gust (1h): {{ hour_max }}
<br />
Avg wind speed (24h): {{ day_avg }}
<br />
Max gust (24h): {{ day_max }}
<br />
<br />

<img src="/wind_avg_1h.png" />
<br />
<img src="/wind_avg_24h.png" />
<br />