<title>8 Harvest Wind Stats</title>

<style type="text/css">
p {font-family:Arial, sans-serif;font-size:14px;}
.fw  {border-collapse:collapse;border-spacing:0;}
.fw td{font-family:Arial, sans-serif;font-size:14px;padding:10px 15px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.fw th{font-family:Arial, sans-serif;font-size:14px;font-weight:bold;padding:10px 15px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.fw .fw-yw4l{vertical-align:top}
</style>

<p>
Current windspeed: {{ current|round(1) }}mph
</p>

<table class="fw">
  <tr>
    <th class="fw-yw4l"></th>
    <th class="fw-yw4l">Average</th>
    <th class="fw-yw4l">Highest Gust</th>
  </tr>
  <tr>
    <td class="fw-yw4l"><b>1 min</b></td>
    <td class="fw-yw4l">{{ one_min[0]|round(1) }}mph</td>
    <td class="fw-yw4l">{{ one_min[1]|round(1) }}mph</td>
  </tr>
  <tr>
    <td class="fw-yw4l"><b>10 min</b></td>
    <td class="fw-yw4l">{{ ten_min[0]|round(1) }}mph</td>
    <td class="fw-yw4l">{{ ten_min[1]|round(1) }}mph</td>
  </tr>
  <tr>
    <td class="fw-yw4l"><b>1 hour</b></td>
    <td class="fw-yw4l">{{ hour[0]|round(1) }}mph</td>
    <td class="fw-yw4l">{{ hour[1]|round(1) }}mph</td>
  </tr>
  <tr>
    <td class="fw-yw4l"><b>12 hour</b></td>
    <td class="fw-yw4l">{{ twelve_hour[0]|round(1) }}mph</td>
    <td class="fw-yw4l">{{ twelve_hour[1]|round(1) }}mph</td>
  </tr>
  <tr>
    <td class="fw-yw4l"><b>24 hour</b></td>
    <td class="fw-yw4l">{{ day[0]|round(1) }}mph</td>
    <td class="fw-yw4l">{{ day[1]|round(1) }}mph</td>
  </tr>
  <tr>
    <td class="fw-yw4l"><b>7 day</b></td>
    <td class="fw-yw4l">{{ week[0]|round(1) }}mph</td>
    <td class="fw-yw4l">{{ week[1]|round(1) }}mph</td>
  </tr>
  <tr>
    <td class="fw-yw4l"><b>30 day</b></td>
    <td class="fw-yw4l">{{ month[0]|round(1) }}mph</td>
    <td class="fw-yw4l">{{ month[1]|round(1) }}mph</td>
  </tr>
  <tr>
    <td class="fw-yw4l"><b>All time</b></td>
    <td class="fw-yw4l">{{ alltime[0]|round(1) }}mph</td>
    <td class="fw-yw4l">{{ alltime[1]|round(1) }}mph</td>
  </tr>

</table>




<img src="/wind_avg_10m.png" />
<br />
<img src="/wind_max_10m.png" />
<br />
<img src="/wind_avg_1h.png" />
<br />
<img src="/wind_max_1h.png" />
<br />
<img src="/wind_avg_24h.png" />
<br />
<img src="/wind_max_24h.png" />
<br />
<img src="/wind_avg_7d.png" />
<br />
<img src="/wind_max_7d.png" />
<br />
<img src="/wind_avg_30d.png" />
<br />
<img src="/wind_daily_avg_7d.png" />
<br />
<img src="/wind_daily_max_7d.png" />


<br />
<img src="/wind_current_vs_24h.png" />
<br />